@media (min-width: 576px){
    .modal-dialog {
        max-width: 1000px!important;
        margin: 1.75rem auto;
     }
    }
    
    .insta-modal{
        .theme-card{
            background: #ffffff;
            box-shadow: 2px 4px 16px #b24bf31a;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            height: calc(100% - 20px);
            .cards-body{
                margin:0 0 15px;
                height: 210px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    
    