
    <div class="modal-body text-center networkCont" >
        <div class="spinner-border text-primary" role="status">
        </div>
        <h3>No wallet detected, you should consider trying metamask</h3>
        <button type="button" class="btn btn-success button">
            <a class="text" href="https://metamask.io/download.html" target="_blank">
                Download MetaMask
            </a>
        </button>
    </div>
    