<!-- personal Info section starts -->
<section>
    <div class="personal-info-section  auth-section-height section-btm-space  auth-top-space">
        <div class="auth-wrapper">
            <div class="container">
                <div class="stepList">
                  <ul class="d-flex">
                    <li>
                      <a [routerLink]="['/my-account']">
                        <span>My Account </span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="active-stepList">Personal Info</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="title-col no-cont">
                    <h2>Personal Information</h2>
                </div>
                <div class="row align-items-center">
                  <div class="col-lg-6 order-lg-2 mb-3">
                      <div class="change-img">
                        <div class="theme-card border-card">
                            <div class="uplImg">
                              <img src="assets/Images/profile_large.png" alt="....">
                            </div>
                            <div class="upload-col">
                                <div class="upload-btn-wrapper">
                                    <button class="btn text-captalize btn-sm">Change Photo</button>
                                    <input type="file" name="myfile" />
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="personal-infocol">
                      <div class="info-div theme-card border-card d-flex justify-content-between">
                        <div class="inner-Info">
                          <span >Username</span>
                          <span>{{userName}}</span>
                        </div>
                        <!--<div class="action-col">
                          <a [routerLink]="['/edit-info']" ><strong>Edit</strong></a>
                        </div> --> 
                      </div>
                    </div>
                 </div>
              </div>
            </div>
         </div>
      </div>
  </section>