<!-- Home page starts -->

<!-- Hot Bids Section starts -->
<section>
    <div class="hotbid-section top-space">
        <div class="container">
            <div class="title-col bid-title">
                <img src="assets/Icons/hot_bids.png" alt="...">
                <h2>Hot Bids</h2>
            </div>
            <div class="bid-wrapper">
                <!-- <div class="slide-btn">
                    <div class="swiper-btn swiper-navigation-prev"><i class="fal fa-arrow-left"></i></div>
                    <div class="swiper-btn swiper-navigation-next"><i class="fal fa-arrow-right"></i></div>
                </div> -->
                <div class="bid-slider">
                    <swiper [slidesPerView]="4" [navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next' }" [breakpoints]="breakpoints">
                        <!-- <swiper [slidesPerView]="4" [spaceBetween]="50" [pagination]="{ type: 'fraction' }" [navigation]="true"> -->
                            <ng-template swiperSlide *ngFor="let item of hotBidAuction">
                            <a  [routerLink]="['/detail-page',item.id]">
                                <div class="theme-card h-100" >
                                    <div class="cards-header">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="user-img">
                                                    <img src="assets/Images/user.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="user_name d-flex align-items-center justify-content-between">
                                                    <div class="name-col">
                                                        <!-- <h5 class="m-0">Emma</h5> -->
                                                        <small>{{item?.pro_creator }}</small>
                                                    </div>
                                                    <div class="options">
                                                        <i class="far fa-ellipsis-v"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cards-body">
                                        <img src="{{item?.meta?.image}}" alt="....">
                                    </div>
                                    <div class="cards-footer">
                                        <h4>{{item?.name}}</h4>
                                        <small>Minimum bidding price <span class="currency-txt">{{item?.minEther}} BNB</span></small>
                                        <small>Highest bid <span class="currency-txt ">{{item?.highestBidAmount}} BNB</span></small>
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <div *ngIf="hotBidAuction?.length==0">
                            <div class="text-center">
                                <p>No Hot Bids Found</p>
                            </div>
                        </div>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Trending sections starts -->
<section>
    <div class="trending-section section-space">
        <div class="container">
            <div class="title-col">
                <img src="assets/Icons/trending.png" alt="...">
                <h2 class="trend" >Trending</h2>
            </div>
          <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 ">
            <ng-container *ngIf="!isLoading">
                  <div class="col" *ngFor="let auctionItem of totalAuction | search : seacrhString; let i = index">
                    <a  [routerLink]="['/detail-page/', auctionItem?.id]" >
                        <div class="theme-card h-100">
                            <div class="cards-header">
                                <div class="form-row">
                                    <div class="col-auto">
                                        <div class="user-img">
                                            <img src="assets/Images/user.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="user_name d-flex align-items-center justify-content-between">
                                            <div class="name-col">
                                                <small>{{auctionItem?.pro_creator}}</small>
                                            </div>
                                            <div class="options">
                                                <i class="far fa-ellipsis-v"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-body">
                                <img src="{{auctionItem?.meta?.image}}" alt="....">
                            </div>
                            <div class="cards-footer">
                                <h4>{{auctionItem?.name}}</h4>
                                <small>Minimum bidding price <span class="currency-txt ">{{auctionItem?.minEther}} BNB</span></small>
                                <small>Highest bid <span class="currency-txt">{{auctionItem?.highestBidAmount}} BNB</span></small>
                            </div>
                        </div>
                    </a>
                </div>

                <div *ngIf="totalAuction?.length==0">
                            <div class="text-center">
                                <p>No Trending Found</p>
                            </div>
                        </div>
            </ng-container>

            <ng-container *ngIf="isLoading">
                <div class="loader">
                   <div class="spinner-border " role="status"></div>
                </div>
            </ng-container>

            
            <!--
                <div class="col" *ngFor="let auctionItem of totalAuction; let i = index">
                    <a  [routerLink]="['/detail-page/', auctionItem?.id]">
                        <div class="theme-card">
                            <div class="cards-header">
                                <div class="form-row">
                                    <div class="col-auto">
                                        <div class="user-img">
                                            <img src="assets/Images/user.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="user_name d-flex align-items-center justify-content-between">
                                            <div class="name-col">
                                                <small>address</small>
                                            </div>
                                            <div class="options">
                                                <i class="far fa-ellipsis-v"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-body">
                                <img src="{{auctionItem?.meta?.image}}" alt="....">
                            </div>
                            <div class="cards-footer">
                                <h4>{{auctionItem?.name}}</h4>
                                <small>Minimum bidding price <span class="currency-txt ">{{auctionItem?.minEther}} BNB</span></small>
                                <small>Highest bid <span class="currency-txt">{{auctionItem?.highestBidAmount}} BNB</span></small>
                            </div>
                        </div>
                    </a>
                </div>
                -->
            </div>
        </div>
    </div>
</section>



<!-- Hall of fame section starts -->
<section>
    <div class="hall-section border-card section-btm-space">
        <div class="container">
            <div class="title-col">
                <img src="assets/Icons/hall_of_fame.png" alt="...">
                <h2 class="hall">Hall of Fame</h2>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-3 row-cols-1 row-cols-sm-2">
                <div class="col" *ngFor="let item of fameAuction">
                    <div class="theme-card border-card ">
                        <div class="cards-header">
                            <div class="form-row">
                                <div class="col-auto">
                                    <div class="user-img">
                                        <img src="assets/Images/user.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="user_name d-flex align-items-center justify-content-between">
                                        <div class="name-col">
                                            <h5 class="m-0">{{item?.holder}}</h5>
                                            <small>{{item?.highestEther}} BNB</small>
                                        </div>
                                        <div class="number-box">
                                            <span>{{item?.bidCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div *ngIf="fameAuction?.length==0">
                            <div class="text-center">
                                <p>No Hall of Fame Found</p>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>