
    <div class="modal-body text-center networkCont" >
        <div class="spinner-border text-primary" role="status">
        </div>
        <h3>Wrong Network</h3>
        <p>Change network to Binance Smart Chain</p>
    </div>
    