<!-- Home page starts -->

<!-- Hot Bids Section starts -->
<section>

	<swiper #swiper [slidesPerView]="1" [centeredSlides]="true"
		[navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next' }"
		[pagination]="pagination">
		<ng-template swiperSlide *ngFor="let slide of totalProduct; index as i">
            <img src="{{slide?.image}}" alt="....">
		</ng-template>
	</swiper>
	<button type="button" class="swiper-navigation-prev">&lt;</button>
	<button type="button" class="swiper-navigation-next">&gt;</button>






    <div class="hotbid-section top-space">
        <div class="container">
            <div class="title-col bid-title">
                <img src="assets/Icons/hot_bids.png" alt="...">
                <h2>Hot Bids</h2>
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Select Image</button> -->
            <div class="bid-wrapper">
                <div class="slide-btn">
                    <div class="swiper-btn swiper-navigation-prev"><i class="fal fa-arrow-left"></i></div>
                    <div class="swiper-btn swiper-navigation-next"><i class="fal fa-arrow-right"></i></div>
                </div>
                <div class="bid-slider">
                    <swiper [slidesPerView]="4" [navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next' }" [breakpoints]="breakpoints">
                        <ng-template swiperSlide *ngFor="let item of totalProduct">
                            <a  [routerLink]="['/detail-page']">
                                <div class="theme-card" >
                                    <div class="cards-header">
                                        <div class="form-row">
                                            <div class="col-auto">
                                                <div class="user-img">
                                                    <img src="assets/Images/user.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="user_name d-flex align-items-center justify-content-between">
                                                    <div class="name-col">
                                                        <!-- <h5 class="m-0">{{item?.name}}</h5> -->
                                                        <small>{{item?.owner}}</small>
                                                    </div>
                                                    <div class="options">
                                                        <i class="far fa-ellipsis-v"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cards-body">
                                        <img src="{{item?.image}}" alt="....">
                                    </div>
                                    <div class="cards-footer">
                                        <h4>{{item?.name}}</h4>
                                        <small>Minimum bidding price <span class="currency-txt">0.5 BNB</span></small>
                                        <small>Highest bid <span class="currency-txt ">0.5 BNB</span></small>
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Trending sections starts -->
<section>
    <div class="trending-section section-space">
        <div class="container">
            <div class="title-col">
                <img src="assets/Icons/trending.png" alt="...">
                <h2 class="trend">Trending</h2>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 ">
                <div class="col" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                    <a  [routerLink]="['/detail-page']">
                        <div class="theme-card">
                            <div class="cards-header">
                                <div class="form-row">
                                    <div class="col-auto">
                                        <div class="user-img">
                                            <img src="assets/Images/user.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="user_name d-flex align-items-center justify-content-between">
                                            <div class="name-col">
                                                <h5 class="m-0">Emma</h5>
                                                <small>@emma_x123</small>
                                            </div>
                                            <div class="options">
                                                <i class="far fa-ellipsis-v"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cards-body">
                                <img src="assets/Images/slide-1.png" alt="....">
                            </div>
                            <div class="cards-footer">
                                <h4>Wall Painting Art Design</h4>
                                <small>Minimum bidding price <span class="currency-txt ">0.5 BNB</span></small>
                                <small>Highest bid <span class="currency-txt">0.5 BNB</span></small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Hall of fame section starts -->
<section>
    <div class="hall-section border-card section-btm-space">
        <div class="container">
            <div class="title-col">
                <img src="assets/Icons/hall_of_fame.png" alt="...">
                <h2 class="hall">Hall of Fame</h2>
            </div>
            <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-3 row-cols-1 row-cols-sm-2">
                <div class="col" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                    <div class="theme-card border-card">
                        <div class="cards-header">
                            <div class="form-row">
                                <div class="col-auto">
                                    <div class="user-img">
                                        <img src="assets/Images/user.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="user_name d-flex align-items-center justify-content-between">
                                        <div class="name-col">
                                            <h5 class="m-0">Olivia</h5>
                                            <small>1.30 BNB</small>
                                        </div>
                                        <div class="number-box">
                                            <span>01</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>