<!-- change password page starts -->
<section>
    <div class="change-password-section auth-section-height section-btm-space  auth-top-space">
        <div class="container">
            <div class="auth-warpper">
                <div class="container">
                    <div class="stepList">
                        <ul class="d-flex">
                          <li>
                            <a  [routerLink]="['/my-account']">
                              <span>My Account </span>
                            </a>
                          </li>
                          <li>
                            <a >
                              <span class="active-stepList">Personal Info</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="title-col no-cont">
                          <h2>Change password</h2>
                      </div>
                      <div class="change-password-col">
                          <div class="theme-card border-card">
                            <div class="form-col">
                                <div class="row row-cols-1">
                                    <div class="col">
                                        <div class="form-group field-style">
                                            <label>Old Password</label>
                                            <div class="password-input">
                                                <i class="far fa-eye-slash"></i>
                                                <input type="password" class="form-control" placeholder="Old Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group field-style">
                                            <label>New Password</label>
                                            <div class="password-input">
                                                <i class="far fa-eye-slash"></i>
                                                <input type="password" class="form-control" placeholder="New Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-col">
                                    <button class="btn btn-xl ">Updated Password</button>
                                </div>
                            </div>
                          </div>
                      </div>
                 </div>
            </div>
        </div>
    </div>
</section>