<!-- my items section starts -->
<section>
  <div class="myitems-col top-space section-btm-space">
    <div class="container">
      <div class="myitems-wrapper">
        <div
          class="title-col no-cont d-flex justify-content-between align-items-center"
        >
          <h2>My items</h2>
          <div class="title-drop" id="drop" *ngIf="showDD">
            <!-- <div class="btn-group" dropdown>
              <div
                id="button-basic"
                dropdownToggle
                type="button"
                class="dropdown-toggle"
                aria-controls="dropdown-basic"
              >
                All <span class="caret"></span>
              </div>
              <ul id="dropdown-basic"
                  *dropdownMenu
                class="dropdown-menu"
                role="menu"
                aria-labelledby="button-basic"
              >
                <li role="menuitem">
                  <a class="dropdown-item" (click)="details(0)">All</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="details(1)">Active</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="details(2)">Sold</a>
                </li>
              </ul>
            </div> -->
            <select class="custom-select" (change)="details($event)">
                <option value = "0" selected="selected">All</option>
                <option value = "1">Active</option>
                <option value = "2">Sold</option>
    <!--
                <a class="dropdown" (click)="details(0)">All</a> 
                
                </option>
                <option value="1" ><a class="dropdown" (click)="details(1)">Active</a></option>
                <option value="2" ><a class="dropdown" (click)="details(2)">Sold</a></option>
                -->
            </select>
          </div>
        </div>
        <div class="items-tabs">
          <tabset>
            <!-- posted tab -->
            <tab heading="Posted" >
              <div class="item-tab-inner" >
                <ng-container
                  *ngFor="let auction of auctionList; let i = index">
                  <a [routerLink]="['/item-details/', auction?.id]">
                    <div class="theme-card border-card">
                      <div class="row justify-content-between">
                        <div class="col-md-4 order-md-2">
                          <div class="item-img">
                            <!-- <img src="assets/Images/item_img.png" alt="..."> -->
                            <img src="{{ auction?.meta?.image }}" alt="..." />
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="status-div">
                            <span class="active-item" *ngIf="auction?.active==false">Sold</span>
                            <span class="active-item" *ngIf="auction?.active==true">Active</span>
                          </div>
                          <div class="detail-title-col item-title">
                            <h2>{{ auction?.meta?.name }}</h2>
                          </div>
                          <div class="item-info">
                            <p>
                              Minimum bidding price
                              <span class="currency-txt"
                                >{{ auction?.meta?.minBidAmount }} BNB</span
                              >
                            </p>
                            <p>{{ auction?.meta?.description }}</p>
                          </div>
                          <div class="bid-desp">
                            <div class="row row-cols-2">
                              <div class="col">
                                <small
                                  >Posted Date:
                                  <span class="currency-txt"
                                    >{{ auction?.startTime }}</span
                                  ></small
                                >
                              </div>
                              <div class="col">
                                <small
                                  >Item A/m:
                                  <span class="currency-txt"
                                    >{{ auction?.meta?.minBidAmount }} BNB</span
                                  ></small
                                >
                              </div>
                              <div class="col">
                                <small
                                  >Highest Bid:
                                  <span class="currency-txt"
                                    >{{ auction?.highestBidAmount }} BNB
                                  </span></small
                                >
                              </div>
                              <div class="col">
                                <small
                                  >Total Bids:
                                  <span class="currency-txt"
                                    >{{ auction?.bidCount }} Bids</span
                                  ></small
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </ng-container>
                <!-- <a [routerLink]="['/item-details']">
                                <div class="theme-card border-card">
                                    <div class="row justify-content-between ">
                                        <div class="col-md-4 order-md-2">
                                            <div class="item-img">
                                                <img src="assets/Images/details_image.png" alt="...">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="status-div ">
                                                <span class="active-item not-active">SOLD</span>
                                            </div>
                                            <div class="detail-title-col item-title">
                                                <h2>Wall Painting Art Design</h2>
                                            </div>
                                            <div class="item-info">
                                                <p>Minimum bidding price <span>0.5 BNB</span></p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo felis et felis molestie sodales.</p>
                                            </div>
                                            <div class="bid-desp">
                                                <div class="row row-cols-2">
                                                    <div class="col">
                                                        <small>Posted Date: <span class="currency-txt">17 Mar 2021</span></small>
                                                    </div>
                                                    <div class="col">
                                                        <small>Item A/m:  <span class="currency-txt">1 BNB</span></small>
                                                    </div>
                                                    <div class="col">
                                                        <small>Highest Bid: <span class="currency-txt">1 BNB </span></small>
                                                    </div>
                                                    <div class="col">
                                                        <small>Sold Bids:  <span class="currency-txt">5 Bids</span></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="btm-bid-info">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <span>Purchased by:</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="form-row align-items-center">
                                                    <div class="col-auto">
                                                        <div class="user-img">
                                                            <img src="assets/Images/user.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="user_name d-flex align-items-center justify-content-between">
                                                            <div class="name-col">
                                                                <h5 class="m-0">Olivia</h5>
                                                                <small>@emma_x123</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a> -->
              </div>
            </tab>
            <!-- purchased tab -->
            <tab heading="Purchased">
              <div class="item-tab-inner">
               <ng-container
                  *ngFor="let item of PurchaseItems; let i = index">
                  <a [routerLink]="['/item-details/', item?.id]">
                <div class="theme-card border-card">
                    <div class="row justify-content-between">
                      <div class="col-md-4 order-md-2">
                        <div class="item-img">
                          <img src="{{ item?.metadata?.image }}" alt="..." />
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="detail-title-col item-title">
                          <h2>{{ item?.metadata?.name }}</h2>
                        </div>
                        <div class="item-info">
                          <p>
                            Minimum bidding price
                            <span class="currency-txt"
                              >{{ item?.metadata?.minBidAmount }} BNB</span
                            >
                          </p>
                          <p>{{ item?.metadata?.description }}</p>
                        </div>
                        <div class="bid-desp">
                          <div class="form-row row-cols-2">
                            <div class="col">
                              <small
                                >Purchased Date:
                                <span class="currency-txt"
                                  >{{item?.EndDate}}</span
                                ></small
                              >
                            </div>
                            <div class="col">
                              <small
                                >Purchased A/m:
                                <span class="currency-txt">{{item?.EndPrice}} BNB</span></small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btm-bid-info">
                      <div class="row align-items-center">
                        <div class="col">
                          <span class="">Purchased from: {{ item?.product?.creator }}</span>
                        </div>
                        <div class="col-auto">
                          <div class="form-row align-items-center">
                            <div class="col-auto">
                              <div class="user-img">
                                <img src="assets/Images/user.png" alt="" />
                              </div>
                            </div>
                            <div class="col">
                              <div
                                class="user_name d-flex align-items-center justify-content-between"
                              >
                                <div class="name-col">
                                  <small>{{ item?.product?.owner }}</small>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                 </ng-container>
              </div>
            </tab> 
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
