<!-- my account page starts -->
<section>
    <div class="my-account  auth-section-height section-btm-space  auth-top-space">
        <div class="auth-wrapper">
            <div class="container">
                <div class="title-col no-cont">
                    <h2>My Account</h2>
                </div>
                <div class="account-col">
                  <div class="row justify-content">
                    <div class=" col-lg-auto">
                      <a [routerLink]="['/personal-info']">
                        <div class="theme-card border-card">
                          <div class="acct-name mb-3 mb-lg-4">
                            <img src="assets/Icons/personal_info.png" alt="...">
                            <span class="ml-2">Personal info</span>
                          </div>
                          <div class="acct-desp">
                            <p class="m-0">Personal info username.</p>
                          </div>
                          <div class="stepArrow">
                            <i class="fal fa-arrow-right"></i>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class=" col-lg-auto">
                      <a [routerLink]="['/connect-wallet']">
                        <div class="theme-card border-card">
                          <div class="acct-name  mb-3 mb-lg-4">
                            <img src="assets/Icons/wallet.png" alt="...">
                            <span class="ml-2">Wallet</span>
                          </div>
                          <div class="acct-desp">
                            <p class="m-0">Connect your Binance Smart Chain account and check your balance.</p>
                          </div>
                          <div class="stepArrow">
                            <i class="fal fa-arrow-right"></i>
                          </div>
                        </div>
                      </a>
                    </div>
                    <!-- <div class=" col-lg-auto">
                      <a [routerLink]="['/change-password']">
                        <div class="theme-card border-card">
                          <div class="acct-name  mb-3 mb-lg-4">
                            <img src="assets/Icons/change_password.png" alt="...">
                            <span class="ml-2">Change password</span>
                          </div>
                          <div class="acct-desp">
                            <p class="m-0">Update your password and secure your account.</p>
                          </div>
                          <div class="stepArrow">
                            <i class="fal fa-arrow-right"></i>
                          </div>
                        </div>
                      </a>
                    </div> -->
                  </div>
                  <div class="logoutBtn mt-2 mt-lg-5 ">
                    
                       <!--  <div class="theme-card border-card d-flex justify-content-between w-100">
                            <button><span>Log out</span>
                            <img src="assets/Icons/logout.png" alt="...">
                             </button>
                        </div> -->
                       <button class="btn btn-primary w-100" (click)='logout()' >Logout</button> 
               
                    </div>
                   
                 </div>
              </div>
           </div>
      </div>
</section>