<!-- sign up section starts -->
<section>
    <div class="sigupcol purple-overlay full-height">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-wrapper">
                        <div class="logo">
                          <!--  <a [routerLink]="['/everlens/home']"
                            ><img src="assets/Icons/logo-5.png" alt="..."></a>
                            -->
                        </div>
                        <div class="form-inner">
                            <div class="form-col">
                                <div class="insta-btn">
                                    <button class="auth-btn" >
                                    <a href="https://api.instagram.com/oauth/authorize?client_id=2864559007130049&redirect_uri=https://app.everlens.io/home/&scope=user_profile,user_media&response_type=code">
                                        <img src="assets/Icons/insta.png" alt="">
                                        <span>CONNECT WITH INSTAGRAM</span>
                                    </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copy-right">
                        <small class="small_bold">© Everlens, Inc. All rights reserved.</small>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="form-right ">
                        <div class="wave-shapes shapes"><img src="assets/Icons/wave_lines.png" alt="...."></div>
                        <div class="dot-horz shapes"><img src="assets/Icons/dot.png" alt=""></div>
                        <div class="dot-vert shapes"><img src="assets/Icons/dots_vert.png" alt=""></div>
                        <div class="form-img">
                            <img src="assets/Icons/form-img.png" alt="....">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

